* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #eee;
}
.container {
  border: px solid red;
  padding: 0% 15%;
}
/*===================================Title Text and Description====================*/
.titleText h1 {
  font-weight: bolder;
  text-align: center;
  font-size: 4vw;
}
.titleDescriptios {
  border: px solid black;
  text-align: center;
  font-size: 2vw;
}
/*===================================Main Image under title text CSS==============*/
.imageUnderTitleText {
  border: px solid red;
}
.imageUnderTitleText img {
  width: 100%;
  height: auto;
}
/*==========================================Comment===============================*/
.commentUser {
  border-top: 2px solid #000;
  margin-top: 20px;
}
.commentUserImage {
  border: px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.commentUserImage img {
  border: px solid red;
}
.commentUserNameAndDate {
  border: px solid black;
}
.MediaIcon {
  border: px solid black;
  padding: 0px;
  display: flex;
  align-items: center;
}
.fab {
  border: 5px solid #eaeaea;
  font-size: 2em;
  text-align: center;
  width: 100%;
  padding: 5px;
  cursor: pointer;
}
.fa-facebook,
.fa-twitter,
.fa-whatsapp {
  transition: 0.4s;
}
.fa-facebook:hover {
  color: #1877f2;
  border: 1px solid #1877f2;
}
.fa-twitter:hover {
  color: #1da1f2;
  border: 1px solid #1da1f2;
}
.fa-whatsapp:hover {
  color: #25d366;
  border: 1px solid #25d366;
}
.ghostImage {
  display: flex;
  justify-content: center;
}
.ghostImage img {
  width: 60%;
  margin: auto;
  height: auto;
}
.ghostImageDescription {
  border: px solid black;
  text-align: center;
  font-weight: 500;
  width: 60%;
  margin: auto;
}
.centerSocialMediaIcons {
  border: px solid red;
  margin: 30px 0px;
}
.paragraphsUnderGhost Image > h5 {
  margin: 30px 0px;
}
.commentUser2ndDetail {
  border: px solid black;
  margin: 30px 0px;
  padding-top: 30px;
}
.userImage {
  border: px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eyes{
  display: flex;
  align-items: center;
  position: relative;
  top: -50px;
  justify-content: center;
}
.eyes img{
  border:px solid red;
}
.lineUnderEyes{
  border:1px solid black;
  color:#000;
}
.BlogSection h1{
  text-align: center;
  margin-top: 30px;
  margin-top: 0px;
  padding-bottom: 40px;
}
.signUprow{
  display:flex;
  justify-content:center;
  padding-bottom:80px;
  margin-top:50px;
}
.signUpbox{
  border-top:7px solid black;
  border-left:1px solid #3e3e3e;
  border-right:1px solid #3e3e3e;
  border-bottom:1px solid #3e3e3e;
}
.signUpbox h4{
  margin-top:25px;
}
.emailSignUpContainer{
  border:px solid red;
  margin-bottom:40px;
}

.emailSignUprow{
  border:px dotted green;
}
.email,.signup{
  padding:0px;
}
.email input{
  border:px solid blue;
  width:100%;
  height:100%;
  padding-left:8px;
}
.signup{
  border:px solid blue;
}
.signup button{
  width:100%;
  height:100%;
  background-color:#000;
  color:#fff;
  padding:5px 0px;
}
/*==========================FOOTER=============================*/

Footer{
  color:#fff;
  background-color:#000;
  padding:10px 0px;
}
.footerServices{
  text-transform:uppercase;
}
.servicebox{
  border:px solid red;
  text-align:center;
  font-size:15px;
  padding:0px;
}
.Footer h2{
  text-align:center;
  margin-top:100px;
}
.Footer p{
  text-align:center;
  font-family:serif;
  font-weight:lighter;
  font-size:15px;
  margin-bottom:0px;
}
.footerSocialMedia{
  display:flex;
  justify-content:center;
  padding:30px 0px 40px 0px;
}

.footerSocialMedia_media{
  border:px solid red;
  text-align:center;
}

.footerSocialMedia_media a{
  color:#fff;
}
/*==============Blog Section============*/

.BlogSection{
  border:px solid brown;
}

.BlogSection h1{
  text-align:center;
  margin-bottom:30px;
}

.BlogSection_row{
  border:px solid black;
  padding:0px 15%;
}

.BlogSection_row_col{
  border:px solid red;
}

.BlogSection_row_col_con{
  border:px dashed orange;
  padding:0px ;
}

.imageRow{
  border:px dashed yellow;
}

.textUnderImageRow{
  border:px dashed black;
  text-align:center;
}
