* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #eee;
}
.container {
  border: px solid red;
  padding: 0% 15%;
}
/*===================================Title Text and Description====================*/
.titleText h1 {
  font-weight: bolder;
  text-align: center;
  font-size: 4vw;
}
.titleDescriptios {
  border: px solid black;
  text-align: center;
  font-size: 2vw;
}
/*===================================Main Image under title text CSS==============*/
.imageUnderTitleText {
  border: px solid red;
}
.imageUnderTitleText img{
  width: 100%;
  height: auto;
}
/*==========================================Comment===============================*/
.commentUser{
  border-top: 2px solid #000;
}
.commentUserImage{
  border:px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.commentUserImage img{
  border: px solid red;
}
.commentUserNameAndDate{
  border:px solid black;
}
.MediaIcon {
  border:px solid black;
  padding:0px;
  display:flex;
  align-items:center;
}
.fab{
  border: 5px solid #eaeaea;
  font-size: 2em;
  text-align: center;
  width: 100%;
  padding: 5px;
  cursor: pointer;
}